.input {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

@media (max-width: 380px) {
    .input {
        margin-left: -10px;
    }
}

.search {
  width: 300px;
  height: 40px;
  background-color: rgba(231, 231, 231, 255);
  padding-left: 40px;
  border-radius: 10px;
  border: none;
}

.search:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

.loops {
  position: relative;
  left: 30px;
  width: 20px;
  pointer-events: none;
}